{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}

<div class="header-bar">
    <h1>Password Reset Complete</h1>
</div>

<div class="detail">
    Your new password has been set. You can log in now on the login page.
</div>

<div class="task-item-wrapper">
    <div class="task-wrapper">
        <div class="task-title">
            <a href=" {% url 'login' %}">Login</a>
        </div>
    </div>
</div>

<div class="footer-bar"></div>

{% endblock %}