{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}! Welcome to this brilliant example of an authentication app with cutting edge features.
  Wanna try them?
  <p><a href="{% url 'profile' %}">Profile</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in. You might be missing out!</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}