{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="header-bar">
    <h1>Hi {{ user.username }}!</h1>
</div>

<div class="detail">
    <p>Welcome to this brilliant example of an authentication app with cutting edge features.</p>
    <p>Wanna try them?</p>
</div>
    
<div class="task-items-wrapper">
    <div class="task-wrapper">
        <div class="task-title">
            <a href="{% url 'profile' %}">Profile</a>
        </div>
    </div>
    <div class="task-wrapper">
        <div class="task-title">
            <a href="{% url 'password_change' %}">Change Password</a>
        </div>
    </div>
</div>

<div class="footer-bar">
    <div class="task-title">
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
</div>
{% else %}

<div class="header-bar">
    <h1>Welcome!</h1>
</div>
  
<div class="detail">
    You are not logged in. You might be missing out!
</div>

<div class="footer-bar">
    <div class="task-title">
        <a href="{% url 'login' %}">Log In</a> &nbsp;&nbsp; Or
        <a href="{% url 'signup' %}">Sign Up</a>
    </div>
</div>
{% endif %}
{% endblock %}